
<div class= "profile">
<h1>Plant Profile</h1>


<h4 ><%= plant.CommonName %> <br><span><%= plant.ScientificName %></span></h4>

<p><%= plant.Description %></p>


<div class="imageviews">
  
      <% for (var z = 0; z < plant.image.length; z++) { %>
        <img src="/uploads/<%= plant.image[z]%>" alt="<%= plant.CommonName %>" class="img-thumbnail">

        <% } %>
      
</div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Landscape Information</a></li>
    <li><a data-toggle="tab" href="#menu1">Botanical Description</a></li>
    <li><a data-toggle="tab" href="#menu2">Horticulture Management</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <br>
        <br>
        <h3>General Information</h3>
        <!-- from plant landscape loop over array and  print-->
        <% for (var j = 0; j < plant.landscape.length; j++) { %>
          <% if (plant.landscape[j].group == "general") { %>
        <h6><%= plant.landscape[j].name %> <span>: <%= plant.landscape[j].content %></span></h6>
        <% } %>
        <% } %>
        <h3>Size / Shape</h3>
        <!-- from plant landscape where group is equal to "Size/Shape" print the-->
        <% for (var j = 0; j < plant.landscape.length; j++) { %>
        <% if (plant.landscape[j].group == "Size/Shape") { %>
        <h6><%= plant.landscape[j].name %> <span>: <%= plant.landscape[j].content %></span></h6>
        <% } %>
        <% } %>


        


    </div>
    <div id="menu1" class="tab-pane fade">
        <br>
        <h3>Foliage</h3>
        <% for (var j = 0; j < plant.botanical.length; j++) { %>
          <% if (plant.botanical[j].group == "Foliage") { %>
          <h6><%= plant.botanical[j].name %> <span>: <%= plant.botanical[j].content %></span></h6>
          <% } %>
        <% } %>
        <h3>Flower</h3>
        <% for (var j = 0; j < plant.botanical.length; j++) { %>
          <% if (plant.botanical[j].group == "Flower") { %>
          <h6><%= plant.botanical[j].name %> <span>: <%= plant.botanical[j].content %></span></h6>
          <% } %>
        <% } %>
        <h3>Trunk</h3>
        <% for (var j = 0; j < plant.botanical.length; j++) { %>
          <% if (plant.botanical[j].group == "Trunk") { %>
          <h6><%= plant.botanical[j].name %> <span>: <%= plant.botanical[j].content %></span></h6>
          <% } %>
        <% } %>
        <h3>Fruit</h3>
        <% for (var j = 0; j < plant.botanical.length; j++) { %>
          <% if (plant.botanical[j].group == "Fruit") { %>
          <h6><%= plant.botanical[j].name %> <span>: <%= plant.botanical[j].content %></span></h6>
          <% } %>
        <% } %>

        
      
    </div>
    <div id="menu2" class="tab-pane fade">
      <br><h3>Tolerance</h3>
      <% for (var j = 0; j < plant.horticulture.length; j++) { %>
        <% if (plant.horticulture[j].group == "Tolerance") { %>
        <h6><%= plant.horticulture[j].name %> <span>: <%= plant.horticulture[j].content %></span></h6>
        <% } %>
        <% } %>
        <h3>Requirements</h3>
        <% for (var j = 0; j < plant.horticulture.length; j++) { %>
          <% if (plant.horticulture[j].group == "Requirements") { %>
          <h6><%= plant.horticulture[j].name %> <span>: <%= plant.horticulture[j].content %></span></h6>
          <% } %>
          <% } %>
          <h3>Management</h3>
          <% for (var j = 0; j < plant.horticulture.length; j++) { %>
            <% if (plant.horticulture[j].group == "Management") { %>
            <h6><%= plant.horticulture[j].name %> <span>: <%= plant.horticulture[j].content %></span></h6>
            <% } %>
            <% } %>



      </div>
  </div>

<!-- add a delete plant button when clicked does the delete route-->
<button type="button" class="btn btn-danger" onclick="window.location.href='/admin/deletePlant/<%= plant._id %>'">Delete Plant</button>


<button type="button" class="btn btn-danger" onclick="window.location.href='/admin/update/<%= plant._id %>'">Modify Plant</button>










    
    
    
    
