<h1>Image Gallery</h1>
<div class= "navgal">
    <ul>
        <li>Select Plant Type: </li>
        <li><a href="/Gallery/1">All Types</a></li>
        <li><a href="/Gallery/1/cactus">Cactus</a></li>
        <li><a href="/Gallery/1/groundcover">Ground Covers</a></li>
        <li><a href="/Gallery/1/lawn">Lawn</a></li>
        <li><a href="/Gallery/1/palm">Palm</a></li>
        <li><a href="/Gallery/1/shrub">Shrub</a></li>
        <li><a href="/Gallery/1/tree">Tree</a></li>
        <li><a href="/Gallery/1/vine">Vine</a></li>
        
    </ul>
</div>





<div class="container">
    <div class="row">

    <% for (var i = 0; i < plant.length; i++) { %>
        <div class="col-md-4 galcont">
            
                <% if (plant[i].image !=null ) { %>
                    <% for (var z = 0; z < plant[i].image.length; z++) { %>
                        <% if (z == 0) { %>
                <a href="/PlantProfile/<%= plant[i].CommonName %>">
                    <img class="imggal" src="/uploads/<%= plant[i].image[z]%>">
                </a> <% } %>
                <% } %>
                <% } %>

                <div class="caption">
                    <h4 class='h4gal'><%= plant[i].CommonName %></h4>
                </div>
            
        </div>

    <% } %>
    </div>

    <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/gallery/1/<%=type%>">First</a></li>
            <% } %>
            <% var i = current > 5 ? current - 4 : 1 %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= current +4 && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/gallery/<%= i %>/<%=type%>"><%= i %></a></li>
                <% } %>
                <% if (i == current + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled"><a>Last</a></li>
            <% } else { %>
                <li><a href="/gallery/<%= pages %>/<%=type%>">Last</a></li>
            <% } %>
        </ul>
    <% } %>

    
</div>

   
   




