<h1>Image Gallery</h1>
<div class= "navgal">
    <ul>
        <li>Select Plant Type: </li>
        <li><a href="/Gallery/1">All Types</a></li>
        <li><a href="/Gallery/1/cactus">Cactus</a></li>
        <li><a href="/Gallery/1/groundcover">Ground Covers</a></li>
        <li><a href="/Gallery/1/lawn">Lawn</a></li>
        <li><a href="/Gallery/1/palm">Palm</a></li>
        <li><a href="/Gallery/1/shrub">Shrub</a></li>
        <li><a href="/Gallery/1/tree">Tree</a></li>
        <li><a href="/Gallery/1/vine">Vine</a></li>
        <li><div class="pagination2">
    <form action="/Gallery/<%=current%>/<%=type%>" method="post">
        <label for="perpage">Images per page: </label>
        <input type="number" name="perpage" id="perpage" min="1" max="100" value="<%=perPage%>">
        <!-- select with 2 option -->
        <label for="sort">Sort by: </label>
        <select name="sort" id="sort" value="<%= Sorts%>">
            <option <%=Sorts=="CommonName"?'selected ':''%>value="CommonName">CommonName</option>
            <option <%=Sorts=="ScientificName"?'selected ':''%>value="ScientificName">ScientificName</option>
        </select>
        
        <input type="submit" value="Submit">
    </form>
</div></li>
    </ul>
    
</div>

<!-- input how many images per page-->







<div class="container">
    <div class="row">

    <% for (var i = 0; i < plant.length; i++) { %>
        <div class="col-md-4 galcont">
            
                <% if (plant[i].image !=null ) { %>
                    <% for (var z = 0; z < plant[i].image.length; z++) { %>
                        <% if (z == 0) { %>
                <a href="/PlantProfile/<%= plant[i].CommonName %>">
                    <img class="imggal" src="/uploads/<%= plant[i].image[z]%>">
                </a> <% } %>
                <% } %>
                <% } %>

                <div class="caption">
                    <h4 class='h4gal'><%= plant[i].CommonName %></h4>
                    <h3 class='h3gal'><%= plant[i].ScientificName %></h3>
                </div>
            
        </div>

    <% } %>
    </div>

    <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><button>First</button></li>
            <% } else { %>
            <li>
                <form action="/gallery/1/<%=type%>" method="post">
                    <input type="hidden" name="perpage" value="<%=perPage%>">
                    <input type="hidden" name="sort" value="<%=Sorts%>">
                    <input type="submit" value="First">
                </form>
            </li>
            <% } %>
            <% var i = current > 5 ? current - 4 : 1 %>
            <% if (i !== 1) { %>
                <li class="disabled"><button>...</button></li>
            <% } %>
            <% for (; i <= current +4 && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active"><button><%= i %></button></li>
                <% } else { %>
                    <li>
                        <form action="/gallery/<%= i %>/<%=type%>" method="post">
                            <input type="hidden" name="perpage" value="<%=perPage%>">
                            <input type="hidden" name="sort" value="<%=Sorts%>">
                            <input type="submit" value="<%= i %>">
                        </form>
                    </li>
                <% } %>
                <% if (i == current + 4 && i < pages) { %>
                    <li class="disabled"><button>...</button></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled"><button>Last</button></li>
            <% } else { %>
                <li>
                    <form action="/gallery/<%= pages %>/<%=type%>" method="post">
                        <input type="hidden" name="perpage" value="<%=perPage%>">
                        <input type="hidden" name="sort" value="<%=Sorts%>">
                        <input type="submit" value="Last">
                    </form>
              </li>
            <% } %>
        </ul>
    <% } %>

    
</div>

   



