
    <div class= "profile">
    <h1>Plant Profile</h1>
    
    
    <h4 ><%= plant.CommonName %> <br><span><%= plant.ScientificName %></span></h4>
    
    <p><%= plant.Description %></p>
    
    
    <div class="imageviews">
     
          <% for (var z = 0; z < plant.image.length; z++) { %>
            <img src="/uploads/<%= plant.image[z]%>" alt="<%= plant.CommonName %>" class="img-thumbnail">
    
            <% } %>
          
    </div>
    
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Landscape Information</a></li>
        <li><a data-toggle="tab" href="#menu1">Botanical Description</a></li>
        <li><a data-toggle="tab" href="#menu2">Horticulture Management</a></li>
      </ul>
    
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <br>
            <br>
           
            <!-- from plant landscape loop over array and  print-->
            <% for (var j = 0; j < plant.landscape.length; j++) { %>
            <h6><%= plant.landscape[j].name %> <span>: <%= plant.landscape[j].content %></span></h6>
            
            <% } %>
    
    
        </div>
        <div id="menu1" class="tab-pane fade">
            <br>
            <% for (var j = 0; j < plant.botanical.length; j++) { %>
              <h6><%= plant.botanical[j].name %> <span>: <%= plant.botanical[j].content %></span></h6>
              
            <% } %>
          
        </div>
        <div id="menu2" class="tab-pane fade">
          <br>
          <% for (var j = 0; j < plant.horticulture.length; j++) { %>
            <h6><%= plant.horticulture[j].name %> <span>: <%= plant.horticulture[j].content %></span></h6>
            
            <% } %>
          </div>
      </div>
    
 

    
    
    
    
    
    
        
        
        
        
    